*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#main{

}
#header{
    top: 0;
    left: 0;
    right: 0;
    height: 45px;
    background-color: rgb(235, 192, 50);
    position: fixed;
    z-index: 1;
}
#nav{
    display: inline-block;
}
#nav >li{
    display: inline-block;
    position: relative;
   
}
#nav li a{
    color: #fff;
    text-decoration: none;
    line-height: 45px;
    padding: 0 20px;
    display: block;
}
#nav >li >a{
    text-transform: uppercase;
}
#nav .subnav{
    display: none;
    position: absolute;
    width: 200px;
    background-color: #fff;
    list-style: none;
    box-shadow: 0 0 10px rgba(0,0, 0, 0.3);
}
#nav .subnav a{
    padding: 0 16px;
    color: #000;
    background-color: ;
}

#nav >li:hover >a
{
    color: black;
    background-color: #fff;
}
#nav .subnav li:hover a,
#header .search-btn:hover{
    color: black;
    background-color: #ccc;
}
 #nav li:hover .subnav{
     display: block;
 }


}